---
title:          Productspace visualisiert Ihre Productwelt!
description:    Wir helfen Ihnen Überblick über Ihre Produktvielfalt zu halten und den Entwicklungsprozess optimal zu unterstützen.
keyword:        Product, Visualisierung, BI, Reporting
---
{{#extend "layout"}}

    {{#content "navigation"}}
        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header brand-logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#productspace-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" onclick="$.fn.fullpage.moveTo('start');return false;">ProductSpace</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="productspace-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about" onclick="$.fn.fullpage.moveTo('about', 0);return false;">im Detail</a>
                        </li>
                        <li>
                            <a href="#contact" onclick="$.fn.fullpage.moveTo('contact');return false;">Kontakt</a>
                        </li>
                        <li class="only-in-collapse">
                            <a href="http://www.rocketbase.io/impressum.html">Impressum</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    {{/content}}

    {{#content "content"}}


        <div id="fullpage">
            <div class="section active concrete" id="section0" data-anchor="start">
                <div class="container">
                    <img src="images/productspace.png" alt="productspace logo" class="productspace-logo img-center img-responsive">
                    <h1 class="visible-print">Productspace visualisiert Ihre Productwelt!</h1>
                </div>
            </div>
            <div class="section bg-gray" id="section1" data-anchor="about">
                <div class="container">
                    <div class="slide"><h2>Simple Demo</h2></div>
                    <div class="slide"><h2>Only text</h2></div>
                    <div class="slide"><h2>And text</h2></div>
                    <div class="slide"><h2>And more text</h2></div>
                </div>
            </div>
            <div class="section fp-auto-height bg-dark footer-section" id="section2" data-anchor="contact">
                <div class="container contact-section">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="section-heading">Konnten wir Ihr Interesse wecken!</h2>
                            <hr class="primary">
                            <p>Gerne würden wir Ihnen detailiert die Möglichkeiten von <b>productspace</b> näher erklären!<br>
                                Rufen Sie gerne an oder schreiben Sie uns!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6 col-sm-offset-3 text-center">
                            <i class="fa fa-phone fa-3x wow bounceIn"></i>
                            <p>040 605 3388 40</p>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center">
                            <i class="fa fa-envelope-o fa-3x wow bounceIn"></i>
                            <p><a href="mailto:info@rocketbase.io">info@rocketbase.io</a></p>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <footer id="footer" class="hidden-print">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="footer-nav">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="http://www.rocketbase.io"><i class="fa fa-copyright"></i> {{formatDate root.buildDate "yyyy"}} rocketbase.io</a>
                                </li>
                                <li>
                                    <a href="http://www.rocketbase.io/impressum.html">Impressum</a>
                                </li>
                                <li>
                                    <a href="http://www.rocketbase.io/datenschutz.html">Datenschutzerkl&auml;rung</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </footer>
                <!-- ./footer -->

            </div>
        </div>

    {{/content}}



    {{#content "customScript"}}
        <script>
            $(document)
                    .ready(function () {
                        $('#fullpage')
                                .fullpage({
                                    css3: true
                                });
                    });
        </script>
    {{/content}}

{{/extend}}