---
title:          ProductSpace visualisiert Ihre Produktwelt!
description:    Wir helfen Ihnen Überblick über Ihre Produktvielfalt zu halten und den Entwicklungsprozess optimal zu unterstützen.
keyword:        Produkt, Visualisierung, BI, Reporting, Sortiment
---
{{#extend "layout"}}

    {{#content "navigation"}}
        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header brand-logo">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#productspace-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" onclick="$.fn.fullpage.moveTo('start');return false;">ProductSpace</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="productspace-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#focus" onclick="$.fn.fullpage.moveTo('focus', 0);return false;">Fokus</a>
                        </li>
                        <li>
                            <a href="#about" onclick="$.fn.fullpage.moveTo('about', 0);return false;">im Detail</a>
                        </li>
                        <li>
                            <a href="#contact" onclick="$.fn.fullpage.moveTo('contact');return false;">Kontakt</a>
                        </li>
                        <li class="only-in-collapse">
                            <a href="http://www.rocketbase.io/impressum.html">Impressum</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    {{/content}}

    {{#content "content"}}


        <div id="fullpage">
            <!-- intro -->
            <div class="section active concrete section-intro" id="section0" data-anchor="start">
                <div class="container">
                    <img src="images/productspace.png" class="productspace-logo img-center img-responsive">
                    <div class="col-lg-8 col-lg-offset-2">

                        <div class="slogan">ProductSpace <span id="typed-strings">
                                                            <span>digitalisiert</span>
                                                            <span>visualisiert</span>
                                                            <span>optimiert</span>
                                                            <span>beschleunigt</span>
                                                        </span>
                            <span class="underline-red"><span id="typed"></span></span> Ihre Sortimentsentwicklung!</div>

                        <p class="description">Es ist eine Anwendung zur Unterstützung des Produktentwicklungsprozesses für z.B. Versandhändler, Warenhäuser oder produzierende Gewerbe. Es visualisiert bestehende und geplante Produkte und hilft dem Team bei der Zusammenarbeit.</p>

                        <!-- ProductSpace unterstützt die Produktentwicklung. Es visualisiert bestehende und geplante Produkte und hilft dem Team
                            bei der Zusammenarbeit. -->
                    </div>
                </div>
            </div>


            <!-- usp -->
            <div class="section fp-auto-height-responsive space-bg section-usp" id="section1" data-anchor="focus">
                <div class="container">
                    <div class="fact">

                        <div class="col-md-6">
                            <div class="fact-table">
                                <div class="col-sm-3 col-xs-12 fact-header">
                                    <p class="fact-icon"><img src="images/focus/tactics.svg" alt="tactics" ></p>
                                </div>

                                <div class="col-sm-9 col-xs-12 fact-list">
                                    <p class="fact-title">Sortimentsplanung</p>
                                    <ul>
                                        <li>Produktideen erfassen und auswerten</li>
                                        <li>Marktkennzahlen verwalten</li>
                                        <li>Zielvorgaben abstecken und prüfen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fact-table">
                                <div class="col-sm-3 col-md-push-9 col-xs-12 fact-header">
                                    <p class="fact-icon"><img src="images/focus/team.svg" alt="team" ></p>
                                </div>

                                <div class="col-sm-9 col-md-pull-3 col-xs-12 fact-list">
                                    <p class="fact-title">Kollaboration</p>
                                    <ul>
                                        <li>Produktbezogener Chat</li>
                                        <li>Digitale Produktleinwände für Meetings</li>
                                        <li>Unternehmensweite Transparenz</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="fact-table">
                                <div class="col-sm-3 col-xs-12 fact-header">
                                    <p class="fact-icon"><img src="images/focus/image.svg" alt="image" ></p>
                                </div>

                                <div class="col-sm-9 col-xs-12 fact-list">
                                    <p class="fact-title">Visualität</p>
                                    <ul>
                                        <li>Visuelles Erfassen der Produkte</li>
                                        <li>Produktideen mobil mit einem Klick anlegen</li>
                                        <li>Ähnlichkeiten im Sortiment erkennen</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="fact-table">

                                <div class="col-sm-3 col-md-push-9 col-xs-12 fact-header">
                                    <p class="fact-icon"><img src="images/focus/stopwatch.svg" alt="stopwatch" ></p>
                                </div>

                                <div class="col-sm-9 col-md-pull-3 col-xs-12 fact-list">
                                    <p class="fact-title">Effizienz</p>
                                    <ul>
                                        <li>Effiziente Sortimentsentwicklung</li>
                                        <li>Sehr schnelle Produktsuchen</li>
                                        <li>Schnittstellen in Fremdsysteme</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- details -->
            <div class="section fp-auto-height-responsive section-details bg-gray" id="section2" data-anchor="about">
                <div class="slide active fp-auto-height-responsive">
                    <div class="container">
                        <h2 class="text-center">Die Idee von ProductSpace</h2>
                        <div class="row vertical-align">
                            <div class="col-sm-6">
                                <img src="images/process/process-flow.svg" class="img-responsive process">
                            </div>
                            <div class="col-sm-6">
                                <p>Von der ersten Idee über die Abstimmung im Team, der weiteren Entwicklung bis hin zur Veröffentlichung -
                                    ProductSpace unterstützt vielerlei Prozesse und schafft Transparenz innerhalb des Produkt-Lebenszyklus.</p>
                                <ul class="process-detail list-unstyled">
                                    <li>
                                        <img src="images/process/icon-idea.svg" class="icon">
                                        Ideen zentral sammeln
                                    </li>
                                    <li>
                                        <img src="images/process/icon-team.svg" class="icon">
                                        Abstimmung im Team
                                    </li>
                                    <li><img src="images/process/icon-production.svg" class="icon">
                                        Aktuelle Stände der Fotoproduktion
                                    </li>
                                    <li>
                                        <img src="images/process/icon-live.svg" class="icon">
                                        Veröffentlichungen und Erfolgsdaten
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide fp-auto-height-responsive">
                    <div class="container">
                        <h2 class="text-center">Das Produkt/Bild steht im Vordergrund</h2>
                        <p class="subheader text-center">Visuelle Produktübersicht schafft Transparenz und Flexibilität.</p>
                        <img src="images/illustrations/productspace-mockup-browse.jpg" class="img-responsive img-fullscreen">
                    </div>
                </div>
                <div class="slide fp-auto-height-responsive">
                    <div class="container">
                        <h2 class="text-center">Mobil und kollaborativ</h2>
                        <div class="row vertical-align">
                            <div class="col-sm-6">
                                <img src="images/illustrations/productspace-mobile.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6">
                                <p>ProductSpace ist bei der Ideenfindung immer mit dabei!</p>
                                <p>Scouts können direkt neu gefundene Ideen mit Ihrem Handy fotografieren.
                                    Das Team wir über Neuigkeiten informiert und kann direkt Rückmeldung geben.
                                    Für wertvolles Feedback muss der Scout nicht erst eine Email schreiben oder ins Büro kommen.</p>
                                <p>Kommunikationen können Produktbezogen über ProductSpace erfolgen.
                                    Auch Feedback von außenstehenden wie z.B. Lieferanten oder Medien-Agentueren sind mit gesonderten Rechten möglich.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide fp-auto-height-responsive">
                    <div class="container vertical-align">
                        <h2 class="text-center">Präsentationen und Reports</h2>
                        <div class="row vertical-align">
                            <div class="col-sm-6">
                                <p>ProductSpace umfasst ein Präsentationsmodul, welches bei Sortimentsplanungen digital unterstützt.
                                    Aufwendig erstelle Präsentationen mit Produktbildern gehören der Vergangenheit an.
                                    Mit Hilfe von flexiblen Produktfiltern und konfigurierbaren Darstellungsformen können großflächig
                                    Produktübersichten schnell und einfach erstellt werden.
                                    Hierbei können auch große Videowand-Installationen über mehrere Monitore verwendet werden!
                                </p>
                                <p>Neben dem Präsentationsmodus können flexible Reports in Excel, PowerPoint oder PDF erstellt werden.
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <img src="images/illustrations/productspace-teamwork.svg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide fp-auto-height-responsive">
                    <div class="container">
                        <h2 class="text-center">Flexible Datenquellen</h2>
                        <div class="row vertical-align">
                            <div class="col-sm-6">
                                <img src="images/illustrations/productspace-datasources.svg" class="img-responsive">
                            </div>
                            <div class="col-sm-6">
                                <p>ProductSpace kann durch mehrere Datenquellen wie z.B. der Webshop, das ERP oder BI befüllt werden.
                                    Ein PIM oder ERP-System wird ebenso wie ein BI/DWH über Datenbankkonnektoren angebunden.
                                    Diese werden initial vom ProductSpace-Team eingerichtet und können später selbständig erweitert werden.
                                    Der Webshop kann sowohl per Datenbank als auch über einen Scrape-Prozess (Abscannen des Webshops) an ProductSpace angebunden
                                    werden.</p>
                                <p>Das System ist für flexible Datenstrukturen konzipiert und ermöglicht zahlreiche Formate und Datentypen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- contact -->
            <div class="section fp-auto-height bg-dark footer-section" id="section3" data-anchor="contact">
                <div class="container contact-section">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Konnten wir Ihr Interesse wecken?</h2>
                            <hr class="primary">
                            <p>Gerne würden wir Ihnen detailliert die Möglichkeiten von <b>ProductSpace</b> näher erklären!<br>
                                Rufen Sie gerne an oder schreiben Sie uns!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <i class="fa fa-phone fa-3x wow bounceIn"></i>
                            <p>040 605 3388 40</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <i class="fa fa-envelope-o fa-3x wow bounceIn"></i>
                            <p><a href="mailto:info@rocketbase.io">info@rocketbase.io</a></p>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <footer id="footer" class="hidden-print">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="footer-nav">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="http://www.rocketbase.io"><i class="fa fa-copyright"></i> {{formatDate root.buildDate "yyyy"}} rocketbase.io</a>
                                </li>
                                <li>
                                    <a href="http://www.rocketbase.io/impressum.html">Impressum</a>
                                </li>
                                <li>
                                    <a href="http://www.rocketbase.io/datenschutz.html">Datenschutzerkl&auml;rung</a>
                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </footer>
                <!-- ./footer -->

            </div>
        </div>

    {{/content}}



    {{#content "customScript"}}
        <script>
            $(document)
                    .ready(function () {
                        $('#fullpage')
                                .fullpage({
                                    css3: true,
                                    slidesNavigation: true,
                                    navigationTooltips: ['Die Idee', 'Kernthemen', 'Datenquellen', 'Anwendung', 'Mobile', 'Kommunikation','Kontakt'],
                                    showActiveTooltip: true,
                                    responsiveWidth: 991
                                });

                        $("#typed").typed({
                            stringsElement: $('#typed-strings'),
                            // typing speed
                            typeSpeed: 100,
                            // time before typing starts
                            startDelay: 1000,
                            // backspacing speed
                            backSpeed: 50,
                            // shuffle the strings
                            shuffle: false,
                            // time before backspacing
                            backDelay: 2000,
                            // loop
                            loop: true
                        });

                    });
        </script>
    {{/content}}

{{/extend}}